**/.idea/
**/*.iml
**/target/
**/*.class
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
presentation/css/reveal.min.css
presentation/js/reveal.min.js

solution/dl4j-mlp/**/Assignment1.java
solution/dl4j-mlp/**/Assignment2.java
solution/dl4j-mlp/**/Assignment3.java
solution/dl4j-mlp/**/Assignment4.java
solution/dl4j-mlp/**/Assignment5.java
solution/dl4j-mlp/**/Assignment6.java
solution/dl4j-spring-app/
